@use '../../styles.sass' as global

.title
  color: global.$title-color
  font-family: 'Lobster', sans-serif
  font-size: 56px

.contianer
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  margin: 0

.form-container
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  background-color: global.$card-bg
  width: 608px
  height: 500px
  border-radius: 30px
