<div class="container">
  <h3 class="title">Nova Lista</h3>
  <form action="" class="form-container">
    <input type="text" class="form-listTitle" placeholder="nome da lista">
    <div class="form-data">
      <input type="text" class="form-data_input input" placeholder="item">
    </div>
    <div class="form-data">
      <input type="text" class="form-data_input input" placeholder="item">
    </div>
    <div class="form-data">
      <input type="text" class="form-data_input input" placeholder="item">
    </div>
    <div class="form-actions">
      <button class="form-btn">Criar</button>
      <button class="form-btn">Novo item</button>
    </div>
  </form>
</div>