<div class="descripiton-container">
  <ul class="description-ul">
    <li class="descriprionli">Crie listas</li>
    <li class="descriprionli">Organize suas compras</li>
    <li class="descriprionli">Organize suas atividades</li>
  </ul>
</div>
<div class="cards-container">
  <div class="card">
    <h2 class="card-title">Feira do mês</h2>
    <ul class="card-list">
      <li class="card-item">
        <label>
          Arroz
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Feijão
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Carne
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Macarrão
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Ovos
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
    </ul>
    <div class="card-actions">
      <button class="card-btn">Adicionar item</button>
      <button class="card-btn">Excluir lista</button>
    </div>
  </div>
  <div class="card">
    <h2 class="card-title">Feira do mês</h2>
    <ul class="card-list">
      <li class="card-item">
        <label>
          Arroz
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Feijão
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Carne
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Macarrão
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
      <li class="card-item">
        <label>
          Ovos
          <input type="checkbox" class="card-checkbox">
        </label>
      </li>
    </ul>
    <div class="card-actions">
      <button class="card-btn" disabled>Adicionar item</button>
      <button class="card-btn" disabled>Excluir lista</button>
    </div>
  </div>
</div>